* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
      background: #dfebed;
      font-family: 'Roboto', sans-serif;
  }
  
  /* .container {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
  } */
  
  .calendar {
    /* padding-right: 50%; */
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 15%; */
      /* background: #011635; */
      border-radius: 4px;
      /* box-shadow: 0 5px 20px rgba(0, 0, 0, .3); */
      height: 501px;
      perspective: 1000;
      transition: .9s;
      /* transform-style: preserve-3d; */
      width: 50%;
  }
  .calendar2{
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 15%; */
      background: white;
      border-radius: 20px;
      /* box-shadow: 0 5px 20px rgba(0, 0, 0, .3); */
      height: 501px;
      perspective: 1000;
      transition: .9s;
      /* transform-style: preserve-3d; */
      width: 50%;
  }
  
  /* Front - Calendar */
  /* .front {
      transform: rotateY(0deg);
  } */
  
  .current-date {
      border-bottom: 1px solid rgba(73, 114, 133, .6);
      display: flex;
      justify-content: space-between;
      padding: 30px 30px;
  }
  
  .current-date h1 {
      color: #dfebed;
      /* font-size: 1.4em; */
      font-weight: 300;
  }
  
  .week-days {
      color: #dfebed;
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      padding: 30px 40px;
  }
  
  .days {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .weeks {
      color: #fff;
      display: flex;
      flex-direction: column;
      padding: 0 40px;
  }
  
  .weeks div {
      display: flex;
      font-size: 1.2em;
      font-weight: 300;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 100%;
  }
  
  .last-month {
      opacity: .3;
  }
  
  .weeks span {
      padding: 10px;
  }
   
  button:hover {
      background: rgb(240, 80, 168);
      cursor: pointer;
  }

  .event{
    background-color: #f52787; 
    border: none; 
    color: white;
    font-size: large;
    padding: 35%;
    cursor: pointer;
    border-radius: 50%;
  }
  .container{
    display: flex;
  }
  .sch{
    padding-top: 10%;
    font-size: 70px;
    margin-left:55%;
    font-family: Azonix;
    color: whitesmoke;
  }
  @media screen and (max-width:800px) {
    .container{
        display: block;
    }
    .calendar{
        width: 90%;
    }
    .calendar2{
        width: 90%;
    }
    .sch{
        margin-left: 15%;
    }
  }
  
  