@import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix);
*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
body{
    background-color: #03002E;
}
.menu{
    cursor: pointer;
    color: white;
    height: 33px;
    position: relative;
    width: 42px;
    top: 9px;
}
/* @media screen and (min-width:969px){
    .menu{
        display: none;
    }
}
@media screen and (max-width:969px) {
    .menu{
        visibility: visible;
    }
} */

#home{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#home p{
  color: white;
  font-size: 33px;
  font-weight: bold;
  position: relative;
  top: 22px;
  font-family: 'Azonix', sans-serif;                                             
}
#home img{
    width: 335px;
    height: 335px;
}

/* Countdown  */


h2 {
    text-align: center;
    font-family: Azonix;
    font-size: 50px;
    color: #fff;
}

.timer {
padding-top: 20px;
padding-bottom: 100px;
text-align: center;
}
                