@import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix);
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    /* background-image: url('/images/topbar.png'); */
    background-color: #02002E;
}
.left{
    display: flex;
    align-items: center;
}
nav .left img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
nav .links{
    display: flex;
    align-items: center;
}
nav .links li{
    list-style: none;
    padding: 22px 20px;
    font-family: 'Poppins', sans-serif;
}
nav .links li a{
    color: white;
    text-decoration: none;
    padding: 8px;
    font-family: 'Azonix', sans-serif;
                                                
}
nav .links li a:hover{
    /* text-decoration: underline; */
    color: #f54d85;
}

@media screen and (min-width:969px){
    .name{
        display: none;
    }
}